<div class="container py-4">
  <h5 class="header-text">Please read the instructions carefully before starting the quiz:</h5>
  <div class="instructions-text my-4">
    <p class="m-0">
      • Lorem Ipsum is simply dummy text of the printing and typesetting
      industry.
    </p>
    <p class="m-0">
      • Lorem Ipsum is simply dummy text of the printing and typesetting
      industry.
    </p>
    <p class="m-0">
      • Lorem Ipsum is simply dummy text of the printing and typesetting
      industry.
    </p>
    <p class="m-0">
      • Lorem Ipsum is simply dummy text of the printing and typesetting
      industry.
    </p>
    <p class="m-0">
      • Lorem Ipsum is simply dummy text of the printing and typesetting
      industry.
    </p>
  </div>
  <div class="text-center">
    <button class="btn btn-success" routerLink="/quiz">Start Quiz</button>
  </div>
</div>
